<%= form_tag student_path do%>
  <label>Enter your first name: </label></br>
  <%= text_field_tag :'first_name'%>
  <label>Enter your last name: </label></br>
  <%= text_field_tag :'last_name'%>
  <%=submit_tag "Submit Student"%>
<%end%>